---

apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: {{ app_name }}
  namespace: {{ k8s_namespace }}
spec:
  podSelector:
    matchLabels:
      app.kubernetes.io/name: {{ app_name }}
  policyTypes:
    - Ingress
    - Egress
  ingress:
  {# Блок возможных правил для доступа к ingress-controller -#}
  {% if network_policy_ingress -%}

  {%- if network_policy_ingress.cidrs is defined -%}
  {% for cidr in network_policy_ingress.cidrs -%}
    - from:
      - ipBlock:
          cidr: {{ cidr }}
  {% endfor -%}
  {% endif -%}

  {%- if network_policy_ingress.selectors is defined -%}
  {% for selector in network_policy_ingress.selectors -%}
    - from:
      - namespaceSelector:
          matchLabels:
            {{ selector.namespaceSelector }}
        podSelector:
          matchLabels:
            {{ selector.podSelector }}
  {% endfor -%}
  {% endif -%}

  {%- else -%}
    - {} # allow all ingress traffic
  {% endif -%}
  egress:
  {# Блок возможных правил для доступа с ingress-controller -#}
  {% if network_policy_egress -%}

  {%- if network_policy_egress.cidrs is defined -%}
  {% for cidr in network_policy_egress.cidrs -%}
    - to:
      - ipBlock:
          cidr: {{ cidr }}
  {% endfor -%}
  {% endif -%}

  {%- if network_policy_egress.selectors is defined -%}
  {% for selector in network_policy_egress.selectors -%}
    - to:
      - namespaceSelector:
          matchLabels:
            {{ selector.namespaceSelector }}
        podSelector:
          matchLabels:
            {{ selector.podSelector }}
  {% endfor -%}
  {% endif -%}

  {%- else -%}
    - {} # allow all egress traffic
  {% endif -%}
